* {
  box-sizing: border-box;
}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: lavender;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .mus {
    position: relative;
  left: 45%;
  }
  .vid {
    position: relative;
    top: -900px;
    left: 20%;
  }
  .flob {
      width: 40%;
      height: 330px;
      position: relative; 
      top: -300px;
      left: 800px;
  }

  .floa {
    position: relative;
    left: 200px;
    
  }

  .floc {
    position: relative;
    left: 200px;
    width: 40%;
      height: 330px;
      top: -250px;
  }
.flod {
    width: 330px;
      height: 430px;
    position: relative;
    left: 1350px;
    top: -700px;
}

.floe {
  width: 550px;
  height: 430px;
  position: relative;
  left: 200px;
  top: -700px;
}
.flof {
  width: 40%;
  height: 330px;
  position: relative; 
  top: -950px;
  left: 800px;
}
#lin1 {
  position: relative;
  top: -250px;
  left: -200px;
}
#holo:hover {
  border: 10px solid green;
  border-style: dotted;
} 
  #zamek:hover {
    border: 10px solid red;
    border-style: double;
  }
  #columb:hover {
    border: 10px solid rgb(180, 55, 180);
    border-style: dashed;
  }
  tr {
    background-color: rgb(177, 177, 177);
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
form {
  text-align: center;
}
label {
    font-size: 20px;
    text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
}
ul {
  padding-left: 35%;
}
h1 {
    text-align: center;
}
a {
  color: whitesmoke;
  text-align: center;
  background-color: grey;
}
.area {
  width: 300px;
  height: 150px;
  padding-bottom: 30px;
}
footer {
    text-align: center;
    font-size: 25px;
    background-color: rgb(66, 66, 66);
    margin-left: 15% ;
    width: 70%;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.top {
  position: relative;
  top: -800px;
  left: -200px;
}